.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.tempActual {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempMinMax {
    display: flex;
    justify-content: space-evenly;
}

.forecast{
    display: flex;
    justify-content: space-evenly;
}

.forecastChild{
    display: flex;
    flex-direction: column;
    align-items: center;
}